*{
    padding:0;
    margin:0;
    list-style: none;
}
.section{
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.section1{
    background-image: url(../img/2.png);
}
.section2{
    background-image: url(../img/B7.jpg);
}
.section3{
    background-image: url(../img/B4.jpg);
}
.section4{
    background-image: url(../img/B2.jpg);
}
.section5{
    background-image: url(../img/B8.jpg);
}
.One{
    width:100%;
    height:60px;
    background:white;
    position:absolute;
    top:0;
    left:0;
}
.pho{
    width:20%;
    height:60px;
    position: absolute;
    left:200px;
    top:0;
}
.log{
    width:60px;
    height:60px;
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-size: cover;
}
.pho>span{
    position: absolute;
    left:80px;
    top:0;
    color:black;
    font-size: 14px;
    line-height: 60px;
}
.nav{
    width:45%;
    height:60px;
    position: absolute;
    right:30px;
}
.nav>a{
    text-decoration: none;
    display: block;
}
.nav>a>li{
    margin-right: 30px;
    float:left;
    font-size: 16px;
    line-height: 60px;
    color:black;
}
.section2{
    position: relative;
}
.mask2,.mask3,.mask4,.mask5{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
}
.my{
    width:300px;
    height:300px;
    border-radius: 50%;
    position:absolute;
    left:-300px;
    top:200px;
    background-image: url(../img/M1.JPG);
}
.text{
    width:400px;
    height:400px;
    border:1px solid #5DAF27;
    position: absolute;
    right:-400px;
    top:150px;
}
.text>h1{
    color:white;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}
.text>div{
    width:60%;
    height:50px;
    border-radius: 50%;
    background:#5DAF27;
    margin:20px auto;
    margin-bottom: 10px;
    color:white;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}
.mask3{
    position: relative;
}
.section3 .fp-tableCell .mask3>h2{
    position: absolute;
    height:50px;
    line-height: 50px;
    top:-10px;
    font-size: 30px;
    left:580px;
    color:white;
}
.content{
    width:80%;
    position: absolute;
    left:10%;
    top:150px;
}
.content>li{
    width:30%;
    height:auto;
    float: left;
    margin-right:15px;
}
.content>li>.yuan{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin:0 auto;
    margin-bottom: 25px;
}
canvas{
    margin:0 auto;
    color:white;
}
.content>li>h3{
    font-size: 20px;
    color:white;
    text-align: center;
}
.section3 .fp-tableCell .mask3  .others{
    width: 80%;
    position: absolute;
    top:400px;
    left:450px;
    font-size:16px;
}
.others h2{
    position: absolute;
    height:50px;
    line-height: 50px;
    top:380px;
    font-size: 30px;
    right:520px;
    color:white;
}
.skill-con{
    width:100%;
    position: absolute;
    top:80px;
    right:450px;
    height: auto;
    overflow: hidden;
    text-align: center
}
.skill-con .skill-tag{
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #f5f5f5;
    padding: 6px 30px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    color:white;
}
.section4,.section5{
    position: relative;
}
.section4 .fp-tableCell>h2{
    height:50px;
    line-height: 50px;
    font-size: 30px;
    color:white;
    position: absolute;
    top:50px;
    left:600px;
}
.section4 .fp-tableCell .key{
    height:auto;
    margin:120px auto;
    overflow: hidden;
    transition: all 1s linear;
}
.section4 .fp-tableCell .key>li{
    width:25%;
    height:230px;
    margin: 60px;
    margin-bottom: 25px;
    float:left;
    border-radius: 50%;
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section4 .fp-tableCell .key>li>a{
    text-decoration: none;
}
.section4 .fp-tableCell .key>li>a>span{
    font-size: 20px;
    color:black;
    display: block;
    line-height: 230px;
    text-align: center;
}
.section4 .fp-tableCell .key>li:nth-child(1){
    background-image:url(../img/DZ.jpg);
}
.section4 .fp-tableCell .key>li:nth-child(2){
    background-image:url(../img/HB.jpg);
}
.section4 .fp-tableCell .key>li:nth-child(3){
    background-image:url(../img/FP.jpg);
}
.section4 .fp-tableCell .key>li:nth-child(4){
    background-image:url(../img/XM.jpg);
}
.section4 .fp-tableCell .key>li:nth-child(5){
    background-image:url(../img/YYK.jpg);
}
.section4 .fp-tableCell .key>li:nth-child(6){
    background-image:url(../img/YY.jpg);
}
.section5 .fp-tableCell>h2{
    height:50px;
    line-height: 50px;
    font-size: 30px;
    color:white;
    position: absolute;
    top:80px;
    left:620px;
}
.section5 p{
    /* width:30%; */
    position: absolute;
    font-size: 24px;
    text-align: center;
    color: #2C3E50;
    font-weight: bold;
    top: 290px;
    left: 0;
    right: 0;
    margin: auto;
}
.section5 .p2{
    top: 380px;
}



