
@font-face {font-family: "iconfont";
  src: url('../iconfont4/iconfont.eot?t=1495170770916'); /* IE9*/
  src: url('../iconfont4/iconfont.eot?t=1495170770916#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont4/iconfont.woff?t=1495170770916') format('woff'), /* chrome, firefox */
  url('../iconfont4/iconfont.ttf?t=1495170770916') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont4/iconfont.svg?t=1495170770916#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  color:black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before { content: "\e658"; }

.icon-tuichuquanping2-copy:before { content: "\e600";
    font-size: 23px;
}

