
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1494922482484'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1494922482484#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1494922482484') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1494922482484') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1494922482484#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-play:before { content: "\e620";
  font-size: 40px;
  color:#fff;
  line-height:60px;
  margin-right:10px;
}
.icon-pause:before { content: "\e600";
    font-size: 40px;
    color:#fff;
    line-height:60px;
    margin-right:10px;
}

.icon-shoucang:before { content: "\e601";
  font-size: 30px;
  color:#fff;
  line-height: 80px;
  margin-right:8px;
}
.icon-next:before { content: "\e60a";
  font-size: 30px;
  color:#fff;
  line-height: 80px;
  margin-right:10px;
}

.icon-previous:before { content: "\e60b";
  font-size: 30px;
  color:#fff;
  line-height: 80px;
  margin-right:10px;
}



