/*
* @Author: hp
* @Date:   2017-04-10 19:21:43
* @Last Modified by:   lenovo
* @Last Modified time: 2017-04-11 09:22:33
*/
*{
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: "苹方","微软雅黑", "Helvetica";
    text-decoration: none;
}
.box{
	width:3.2rem;
	height: 0.445rem;
	background: rgba(0,123,227, 0.9);
	font-size: 0.16rem;
	display: flex;
	position: fixed;
	z-index: 10;
}
.box div{
	width: 20%;
	height: 0.445rem;
	line-height: 0.445rem;
	text-align: center;
}
.box div a{
	color: #fff;
	text-decoration: none;
}
.key{
	width: 100%;
	height: 2.07rem;
	position: relative;
}
.key ul{
	width: 100%;
	height: 0.04rem;
    position: absolute;
    top: 2.06rem;
    z-index: 100;
}
.key ul li:nth-child(1){
	width: 25%;
	height: 0.04rem;
	background: #FF8D12;
	float: left;
}



.q{
	width: 100%;
	height: 8.72rem;
	background: #F5F6FA;
	border-top: 1px solid#F5F6FA;
	box-sizing: border-box;
}
.w{
	width: 3.2rem;
	height: 0.35rem;
	margin: 0 auto;
	font-size: 0.12rem;
	line-height: 0.35rem;
	margin-top: 0.1rem;
}
.w a{
	color: #000;
}
.e{
	width: 3.2rem;
	height: 1.98rem;
	background: #fff;
	margin: 0 auto;
	padding-top: 0.15rem;
	padding-left: 0.2rem;
	padding-bottom: 0.15rem;
	padding-right: 0.1rem;
	box-sizing: border-box;
	position: relative;
}
.e h2{
	font-size: 0.14rem;
}
.e div:nth-child(2){
	width: 100%;
	border-top: 1px dashed #000;
	margin-top: 0.05rem;
	margin-bottom: 0.05rem;
}
.e p{
	font-size: 0.1rem;
	box-sizing:border-box
}
.e div:nth-child(4){
	width: 0.04rem;
	height: 0.12rem;
	background: #01B5FF;
	position: absolute;
	top: 0.19rem;
	left: 0.1rem;
}




.r{
	width: 3.2rem;
	height: 1.57rem;
	background: #fff;
	margin: 0 auto;
	padding-top: 0.15rem;
	padding-left: 0.2rem;
	padding-bottom: 0.15rem;
	padding-right: 0.1rem;
	box-sizing: border-box;
	position: relative;
	margin-top: 0.05rem;
}
.r h2{
	font-size: 0.14rem;
}
.r div:nth-child(2){
	width: 100%;
	border-top: 1px dashed #000;
	margin-top: 0.05rem;
	margin-bottom: 0.05rem;

}
.r div:nth-child(3){
	width: 33.333333%;
	height: 1rem;
	float: left;
	padding: 0.15rem;
	box-sizing: border-box;
}
.r div:nth-child(3)>img{
	display: block;
	margin-top: -0.02rem;
}
.r div:nth-child(4){
	width: 33.333333%;
	height: 1rem;
	float: left;
	padding: 0.15rem;
	box-sizing: border-box;
}
.r div:nth-child(4)>img{
	display: block;
	margin-top: -0.02rem;
}
.r div:nth-child(5){
	width: 33.333333%;
	height: 1rem;
	float: left;
	padding: 0.15rem;
	box-sizing: border-box;
}
.r div:nth-child(5)>img{
	display: block;
	margin-top: -0.02rem;
}
.r div:nth-child(6){
	width: 0.04rem;
	height: 0.12rem;
	background: #01B5FF;
	position: absolute;
	top: 0.19rem;
	left: 0.1rem;
}



.t{
	width: 3.2rem;
	height: 0.84rem;
	background: #fff;
	margin: 0 auto;
	padding-top: 0.15rem;
	padding-left: 0.2rem;
	padding-bottom: 0.15rem;
	padding-right: 0.1rem;
	box-sizing: border-box;
	position: relative;
	margin-top: 0.05rem;
}
.t h2{
	font-size: 0.14rem;
}
.t div:nth-child(2){
	width: 100%;
	border-top: 1px dashed #000;
	margin-top: 0.05rem;
	margin-bottom: 0.05rem;
}
.t p{
	font-size: 0.12rem;
}
.t div:nth-child(4){
	width: 0.04rem;
	height: 0.12rem;
	background: #01B5FF;
	position: absolute;
	top: 0.19rem;
	left: 0.1rem;
}
.y{
	width: 0.865rem;
	height: 0.865rem;
	margin: 0 auto;
	background-image: url(../img/145.png);
	background-size: cover;
	margin-top: 0.2rem;
}

.v{
	width: 100%;
	height: auto;
	float: left;
	font-size: 0.12rem;
	text-align: center;
	margin-top: 0.1rem;
}


.b{
	width: 100%;
	height: 0.4rem;
	background: #E7E7E7;
	float: left;
	position: fixed;
	z-index: 100;
	top: 93.928036%;
	left: 0;
}
.b1{
	width: 1.125rem;
	height: 0.4rem;
	font-size: 0.12rem;
	text-align: center;
	line-height:  0.4rem;
	float: left;
}
.b2{
	width: 1.50rem;
	height: 0.45rem;
	background: #FF8D12;
	float: left;
	margin-top: -0.05rem;
	border-radius: 5%;
	font-size: 0.16rem;
	text-align: center;
	line-height:  0.45rem;
	color: #fff;
}
.b3{
	width: 1.125rem;
	height: 0.4rem;
	float: left;
	font-size: 0.12rem;
	text-align: center;
	line-height:  0.4rem;
}