/*
* @Author: lenovo
* @Date:   2017-04-08 16:51:07
* @Last Modified by:   lenovo
* @Last Modified time: 2017-04-08 20:52:58
*/
*{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.12rem
}
/* 头部开始 */
.header{
	width:100%;
	height:0.38rem;
	background: #007BE3;
	position: fixed;
    z-index: 1000;
}
.header ul{
	width: 100%;
	height: 100%;
	display: flex;
}
.header ul li{
	width: 20%;
	height: 100%;
	text-align: center;
}
.header ul li a{
	text-decoration: none;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.38rem;
	color: white;
}
/* banner开始 */
.banner{
	width: 100%;
	height: 1.8rem;
	background: url('../img/banner3.jpg') center center no-repeat;
	background-size: 100%;	
}
/* 内容开始 */



.bigbox{
	width: 100%;
	height: 8.5rem;
	background: #F5F6FA;
}




.box{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
.box .top{
	width: 100%;
	height:0.14rem ;
	padding-top: 0.02rem;
	margin-bottom: 0.1rem;
}
.box .top h2{
	font-size: 0.12rem;
	color: black;
	float: left;
	line-height: 0.14rem;
	font-weight: normal;
}
.box .top div{
	width: 0.068rem;
	height: 0.08rem;
	background: url('../img/箭头.png') center center no-repeat;
	background-size: 100%;
	float: left;
	margin: 0.03rem 0.07rem;
}




.box .center{
	width: 100%;
	height: 7.6rem;
	background:#fff;
	padding-top: 0.02rem;
	box-sizing: border-box;
} 
.box .center a{
	width: 2.74rem;
	height: 1.35rem;
	display: block;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 0.145rem;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.box .center a:nth-child(1){
	margin-top: 0rem;
}
.box .center a h2{
	width: 100%;
	height: 0.168rem;
	font-size: 0.12rem;
	line-height: 0.168rem;
    color: #000;
    font-weight: normal;
    margin-bottom: 0.12rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   /*  margin-top: 0.15rem; */
}
.media_con{
	width: 100%;
	height: 0.76rem;
	border-bottom: 1px solid #B8B8B8;
	position: relative;
	top: 0;
	left: 0;
}
.media_con .left{
	width: 0.82rem;
	height: 0.618rem;
	float: left;
}
.media_con .left>div:nth-child(1){
	width: 0.82rem;
	height: 0.618rem;
	background: url('../img/1.jpg') center center no-repeat;
	background-size: 100%;
	z-index:1000;
	position: relative;
	top: 0;
	left: 0;
}


.center a:nth-child(2) .media_con .left>div:nth-child(1){
	background: url('../img/2.jpg') center center no-repeat;
	background-size: 100%;
}
.center a:nth-child(3) .media_con .left>div:nth-child(1){
	background: url('../img/2.png') center center no-repeat;
	background-size: 100%;
}
.center a:nth-child(4) .media_con .left>div:nth-child(1){
	background: url('../img/3.jpg') center center no-repeat;
	background-size: 100%;
}
.center a:nth-child(5) .media_con .left>div:nth-child(1){
	background: url('../img/5.jpg') center center no-repeat;
	background-size: 100%;
}


.media_con .left>div:nth-child(2){
	width: 0.82rem;
	height: 0.618rem;
	background: url('../img/kuang.png') center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: -0.05rem;
	left: 0.05rem;
	z-index:99;
}
.media_con .right{
	width: 1.79rem;
	height: 0.618rem;
	float: left;
	position: absolute;
	top: -0.05rem;
	right: 0.05rem;
	padding:0 0.05rem;
	box-sizing: border-box;
	font-size: 0.1rem;
	color: #929191;
	line-height: 0.15rem
}
.media_bot{
	width: 100%;
	height: 0.28rem;
	border-bottom: 1px solid #B8B8B8;
	box-sizing: border-box;
}
.media_bot>div:nth-child(1){
	width: 0.9rem;
	height: 0.28rem;
	float:left;
}

.media_bot>div:nth-child(2){
	width: 1rem;
	height: 0.28rem;
	float:left;
}
.media_bot>div:nth-child(3){
	width: 0.82rem;
	height: 0.28rem;
	float:left;
}
.media_bot>div:nth-child(1)>div{
	width: 0.13rem;
	height: 0.13rem;
	margin-top: 0.068rem;
	margin-right: 0.02rem;
	float: left;
	box-sizing: border-box;
	background-image: url('../img/666.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}
.media_bot>div:nth-child(2)>div{
	width: 0.13rem;
	height: 0.13rem;
	margin-top: 0.068rem;
	margin-right: 0.02rem;
	float: left;
	box-sizing: border-box;
	background-image: url('../img/666.png');
	background-position: 0.35rem 0;
	background-repeat: no-repeat;
	background-size: cover;
}
.media_bot>div:nth-child(3)>div{
	width: 0.13rem;
	height: 0.13rem;
	margin-top: 0.068rem;
	margin-right: 0.02rem;
	float: left;
	box-sizing: border-box;
	background-image: url('../img/666.png');
	background-position: 0.7rem 0;
	background-repeat: no-repeat;
	background-size: cover;
}
.media_bot>div span{
	font-size: 0.12rem;
	color: #929191;
	line-height: 0.28rem;

}


.more_box{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #F5F6FA;
}
.more_box .more{
	width: 90%;
	height: 0.36rem;
	margin: 0 auto;
	background: white;
	position: relative;
	top: 0;
	left: 0;
}
.more_box .more>div{
	width: 100%;
	height: 0.36rem;
	position: absolute;
	top: 0.1rem;
}
.more_box .more>div:nth-child(1){
	width: 0.21rem;
	height: 0.21rem;
	left: 0.2rem;
	background: url('../img/s1.png')center center no-repeat;
	background-size: 100%;
}
.more_box .more>div:nth-child(2){
	width: 0.63rem;
	height: 0.21rem;
	left: 0.46rem;
	background: url('../img/上一页.png')center center no-repeat;
	background-size: 100%;
}
.more_box .more>div:nth-child(3){
	width: 0.6rem;
	height: 0.21rem;
	border: 1px solid black;
	border-radius: 0.2rem;
	left: 1.15rem;
	box-sizing: border-box;
	font-size: 0.1rem;
	color: black;
	text-align: center;
	line-height: 0.21rem;
	font-weight: 400;
}
.more_box .more>div:nth-child(4){
	width: 0.63rem;
	height: 0.21rem;
	right: 0.46rem;
	background: url('../img/下一页.png')center center no-repeat;
	background-size: 100%;
}
.more_box .more>div:nth-child(5){
	width: 0.21rem;
	height: 0.21rem;
	right: 0.2rem;
	background: url('../img/s2.png')center center no-repeat;
	background-size: 100%;
}
.more_box .tea{
	width: 100%;
	height: 0.3rem;
	margin-bottom: 0.5rem;
	margin-top: 0.08rem;
}
.more_box .tea p{
	width: 100%;
	height: 0.12rem;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.12rem;
	color: #333;
	margin-bottom: 0.04rem;
}
/* 底部开始 */
.foot{
	width: 100%;
	height: 0.384rem;
	background: #e7e7e7;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99
}
.foot >div:nth-child(1){
	width: 30%;
	height: 100%;
	float: left;

}
.foot >div:nth-child(1) div:nth-child(1){
	width: 0.14rem;
	height: 0.14rem;
	float: left;
	margin: 0.12rem 0.11rem;
	background-image: url('../img/qq.png');
	background-size: 0.14rem;
	background-position: 0 0;
}
.foot >div:nth-child(1) div:nth-child(2){
	width: 0.5rem;
	height: 0.384rem;
	font-size: 0.12rem;
	color: black;
	float: left;
	line-height: 0.384rem;
	margin-left: -0.04rem;
}
.foot>div:nth-child(2){
	width: 40%;
	height: 100%;
	background: #ff8d12;
	margin-top: -0.04rem;
	float: left;
	border-radius: 0.04rem;
	margin-left: -0.05rem;
	box-shadow:0 0  0.02rem #ff8d23 ;
}
.foot>div:nth-child(2) div:nth-child(1){
	width:0.15rem ;
	height: 0.19rem;
	float: left;
	margin:0.115rem 0.15rem 0.115rem 0.25rem;
	background-image: url('../img//shouye6.png') ;
	background-size: 1rem;
	background-position: -0.8rem -2.4rem;
}
.foot>div:nth-child(2) div:nth-child(2){
	width:0.5rem;
	font-size:0.12rem;
	color: white;
	float: left;
	margin-left: -0.1rem;
	line-height: 0.384rem;

}

.foot >div:nth-child(3){
	width: 30%;
	height: 100%;
	float: right;
}
.foot >div:nth-child(3) >div:nth-child(1){
	width: 0.2rem;
	height: 0.15rem;
	margin: 0.115rem 0.1rem 0.115rem 0.15rem;
	background-image: url('../img/shouye6.png');
	background-size: 1rem;
	background-position:-0.8rem -2.65rem ;
	float: left;
}

.foot >div:nth-child(3) >div:nth-child(2){
	width:0.5rem ;
	height: 100%;
	font-size:0.12rem;
	color: black;
	line-height: 0.384rem; 
	float: left;
	margin-left: -0.04rem;
}
/* 底部结束 */
