/*
* @Author: lenovo
* @Date:   2017-04-07 19:47:21
* @Last Modified by:   lenovo
* @Last Modified time: 2017-04-08 13:19:47
*/
*{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.12rem
}
/* 头部开始 */
.header{
	width:100%;
	height:0.38rem;
	background: #007BE3;
	position: fixed;
    z-index: 1000;
}
.header ul{
	width: 100%;
	height: 100%;
	display: flex;
}
.header ul li{
	width: 20%;
	height: 100%;
	text-align: center;
}
.header ul li a{
	text-decoration: none;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.38rem;
	color: white;
}
/* banner开始 */
.banner{
	width: 100%;
	height: 2.13rem;
	background: url('../img/phpbanner.png') center center no-repeat;
	background-size: 100%;
	position: relative;
	top: 0;
	left: 0;	
}
.banner .zixun{
	width: 0.9rem;
	height: 0.24rem;
	background: url('../img/phpbtn.png') center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: 1.7rem;
	left: 1.25rem;
	font-size: 0.14rem;
	color: white;
	text-align: center;
	line-height: 0.24rem;
}
/* why */
.box_why{
	width: 100%;
	height:2.47rem ;
	
}
.box_why .title{
	width: 100%;
	height: 0.43rem;
	padding: 0.085rem 0rem;
	background: white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	left: 0;
}
.box_why .title> div:nth-child(1){
	width:0.28rem;
	height: 0.25rem;
	background: url('../img/phptitle1.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.19rem;
	left:0.9rem ;
}
.box_why .title> div:nth-child(2){
	width: 0.46rem;
	height: 0.35rem;
	background: url('../img/titleL.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.12rem;
	left:1.05rem ;
}
.box_why .title> div:nth-child(3){
	width: 1.1rem;
	height: auto;
	font-size:0.14rem; 
	color: black;
	font-weight: 400;
	position: absolute;
	top: 0.2rem;
	left: 1.35rem;
}
.box_why .title> div:nth-child(3) span{
	font-weight: 600;
	font-size: 0.14rem;
}
.box_why .title> div:nth-child(4){
	width: 0.46rem;
	height: 0.0255rem;
	position: absolute;
	top: 0.42rem;
	left: 2rem;
	background: url('../img/titleR.png') center center no-repeat;
	background-size: 100%; 
}
.box_why .con{
	width: 100%;
	height: 1.74rem;
	background: #F5F6FA;
}
.box_why .con>div{
	width: 2.85rem;
	height: 1.5rem;
	border: 1px solid #1bbf99;
    border-top: 0;
    margin: 0 auto;
    padding: 0.12rem;
    box-sizing: border-box;
    position: relative;
	top: 0;
	left: 0; 
} 
.box_why .con>div p{
	font-size: 0.1rem;
	color: #333;
	font-weight: 400;
	line-height: 0.2rem;

}

/* 服务开始 */
.service_title{
	width: 100%;
	height: 0.43rem;
	padding: 0.085rem 0rem;
	background: white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	left: 0;
	/* box-sizing: border-box; */
}
.service_title> div:nth-child(1){
	width:0.28rem;
	height: 0.25rem;
	background: url('../img/phptitle2.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.19rem;
	left:0.9rem ;
}
.service_title> div:nth-child(2){
	width: 0.46rem;
	height: 0.35rem;
	background: url('../img/titleL.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.12rem;
	left:1.05rem ;
}
.service_title> div:nth-child(3){
	width: 1.4rem;
	height: auto;
	font-size:0.14rem; 
	color: black;
	font-weight: 600;
	position: absolute;
	top: 0.2rem;
	left: 1.35rem;
}
.service_title> div:nth-child(3) span{
	font-weight: 400;
	font-size: 0.14rem;
}
.service_title> div:nth-child(4){
	width: 0.46rem;
	height: 0.0255rem;
	position: absolute;
	top: 0.42rem;
	left: 2rem;
	background: url('../img/titleR.png') center center no-repeat;
	background-size: 100%; 
}

.content{
	width: 100%;
	height: auto;
	padding: 0.2rem 0.1rem 0.05rem;
	box-sizing: border-box;
}
.content ul{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.content ul li{
	width: 0.90rem;
	height: auto;
	margin-bottom: 0.25rem;
}
.content ul li>div:nth-child(1){
	width: 100%;
	height: 0.47rem;
	margin-right: 0.05rem;
	margin-bottom: 0.02rem;
	font-size: 0.12rem;
	color: white;
}
.content ul li>div:nth-child(1) span{
	font-size: 0.12rem;
	color: white;
	margin-left: 0.37rem;
	display: block;
	line-height: 0.47rem;
	margin-right: 0.05rem;
}
.content ul li>div >div:nth-child(2){
	width: 55%;
	height: 100%;
	line-height: 0.47rem;
	font-size: 0.12rem;
	color: white;
	float: left;
}
.content ul li>div:nth-child(2){
	width: 100%;
	height:0.59rem;
	/* border: 1px dashed black; */
	box-sizing: border-box;	
}
.content ul li>div:nth-child(2) p{
	width: 90%;
	height: 90%;
	margin: 0.02rem auto;
	font-size:0.1rem;
	color: black; 
	text-align: center;	
}
.content ul li:nth-child(1)>div:nth-child(1){
	background-image:url('../img/fwtx1.png');
	background-size: cover;
}
.content ul li:nth-child(1)>div:nth-child(2){
	border: 1px dashed #F2A111;
}
.content ul li:nth-child(2)>div:nth-child(1){
	background-image:url('../img/2.png');
	background-size: cover;
}
.content ul li:nth-child(2)>div:nth-child(2){
	border: 1px dashed #2F90DA;
}
.content ul li:nth-child(3)>div:nth-child(1){
	background-image:url('../img/fwtx3.png');
	background-size: cover;
}
.content ul li:nth-child(3)>div:nth-child(2){
	border: 1px dashed #F87844;
}
.content ul li:nth-child(4)>div:nth-child(1){
	background-image:url('../img/fwtx4.png');
	background-size: cover;
}
.content ul li:nth-child(4)>div:nth-child(2){
	border: 1px dashed #1BBF99;
}
.content ul li:nth-child(5)>div:nth-child(1){
	background-image:url('../img/fwtx5.png');
	background-size: cover;
}
.content ul li:nth-child(5)>div:nth-child(2){
	border: 1px dashed #F8CE68;
}
.content ul li:nth-child(6)>div:nth-child(1){
	background-image:url('../img/fwtx6.png');
	background-size: cover;
}
.content ul li:nth-child(6)>div:nth-child(2){
	border: 1px dashed #C06BBA;
}
/* 就业前景 */

.jiuye_title{
	width: 100%;
	height: 0.43rem;
	padding: 0.085rem 0rem;
	background:#fff;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	left: 0;
	/* box-sizing: border-box; */
}
.jiuye_title> div:nth-child(1){
	width:0.28rem;
	height: 0.25rem;
	background: url('../img/phptitle3.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.19rem;
	left:0.9rem ;
}
.jiuye_title> div:nth-child(2){
	width: 0.46rem;
	height: 0.35rem;
	background: url('../img/titleL.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.12rem;
	left:1.05rem ;
}
.jiuye_title> div:nth-child(3){
	width: 1.1rem;
	height: auto;
	font-size:0.14rem; 
	color: black;
	font-weight: 600;
	position: absolute;
	top: 0.2rem;
	left: 1.35rem;
}
.jiuye_title> div:nth-child(3) span{
	font-weight: 600;
	font-size: 0.14rem;
}
.jiuye_title> div:nth-child(4){
	width: 0.46rem;
	height: 0.0255rem;
	position: absolute;
	top: 0.42rem;
	left: 2rem;
	background: url('../img/titleR.png') center center no-repeat;
	background-size: 100%; 
}
.jiuye_con{
	width: 100%;
	height: 3.5rem;
	background: #1B1D32;
	padding-top: 0.1rem;
}

.jiuye_con .title{
	width: 1.6rem;
	height: 0.2rem;
	margin: 0.05rem auto;
	text-align: center;
	border-bottom: 1px dashed #fff;
	font-size: 0.14rem;
	padding: 0.12rem;
	color: #00c298;
	position: relative;
	top: 0;
	left: 0;
}
.jiuye_con .title .solid{
	width: 100%;
	height: 0.01rem;
	background: white;
	position: absolute;
	left: 0;
	bottom: 0.05rem;
}
.jiuye_con .tu{
	width: 3rem;
	height: 1.89rem;
	margin: 0.3rem 0.1rem 0rem;
	box-sizing: border-box;
}
.jiuye_con .tu ul{
	width: 100%;
	height: 1.89rem;
	display: flex;
	justify-content: space-between; 
}
.jiuye_con .tu ul li{
	width:1.44rem ;
	height: 1.87rem;
	border: 1px solid #fff;
}
.jiuye_con .tu ul li p{
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 0.12rem;
	color: #fff;
	margin-top: 0.08rem;
}
.jiuye_con .tu ul li  span{
	color: #e47749;
}
.jiuye_con .tu ul li img{
	width: 1.45rem;
	height: 0.94rem;
}
.jiuye_con .tu ul li div{
	width:100% ;
	height: 0.65rem;
	border-top:1px solid #fff ;
	padding: 0.08rem 0.034rem;
	box-sizing: border-box;
	font-size: 0.1rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.jiuye_con .tu .btn{
	width: 1.28rem;
	height: 0.34rem;
	margin: 0.2rem auto;
}
.jiuye_con .tu .btn a{
	width: 100%;
	height: 100%;
	background-image: url('../img/btn.png');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 0.14rem;
	color: white;
	line-height: 0.34rem;
}
/* 事实开始 */
.shishi_title{
	width: 100%;
	height: 0.43rem;
	padding: 0.085rem 0rem;
	background: white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	left: 0;
	/* box-sizing: border-box; */
}
.shishi_title> div:nth-child(1){
	width:0.28rem;
	height: 0.25rem;
	background: url('../img/phptitle4.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.19rem;
	left:0.9rem ;
}
.shishi_title> div:nth-child(2){
	width: 0.46rem;
	height: 0.35rem;
	background: url('../img/titleL.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.12rem;
	left:1.05rem ;
}
.shishi_title> div:nth-child(3){
	width: 1.4rem;
	height: auto;
	font-size:0.14rem; 
	color: black;
	font-weight: 600;
	position: absolute;
	top: 0.2rem;
	left: 1.35rem;
}
.shishi_title> div:nth-child(3) span{
	font-weight: 400;
	font-size: 0.14rem;
}
.shishi_title> div:nth-child(4){
	width: 0.46rem;
	height: 0.0255rem;
	position: absolute;
	top: 0.42rem;
	left: 2rem;
	background: url('../img/titleR.png') center center no-repeat;
	background-size: 100%; 
}


.student_box{
	width: 100%;
	height: 2.5rem;
	background: #F5F6FA;
}
.stu_list{
	width: 3rem;
	height: 1.75rem;
	margin: 0 auto;
	margin-top: 0.17rem;
	margin-bottom: 0.4rem;
}
.title_name{
	width: 100%;
	height: 0.3rem;
	font-size: 0.12rem;
	line-height: 0.3rem;
	color: white;
	text-align: center;
}
.title_name>div:nth-child(1){
	width: 0.56rem;
	height: 100%;
	background: #40ABFD;
	border-top-left-radius:0.03rem; 
	border-top-right-radius:0.03rem;
	float: left; 
}
.title_name>div:nth-child(2){
	width: 0.76rem;
	height: 100%;
	background: #219EFF;
	border-top-left-radius:0.03rem; 
	border-top-right-radius:0.03rem;
	float: left; 
}
.title_name>div:nth-child(3){
	width: 1.68rem;
	height: 100%;
	background: #118DED;
	border-top-left-radius:0.03rem; 
	border-top-right-radius:0.03rem;
	float: left; 
}
.big_box{
	width: 100%;
	height: 1.45rem;
	background: yellow;
	border-left: 1px solid #1875FF;
	border-right: 1px solid #1875FF;
	box-sizing: border-box;
}
.big_box>div{
	width: 100%;
	height: 0.29rem;
	font-size: 0.12rem;
	line-height: 0.29rem;
	text-align: center;
	color: black;
	background: #EEEEEE;
	float: left;
	/* transition: all 1s ease; */
}
/* .big_box>div:hover{
	transform: translateY(0.29rem);
} */
.big_box>div .p1{
	width: 0.56rem;
	color: black;
	float: left;
}
.big_box>div .p2{
	width: 0.76rem;
	color: #FAC066;
	float: left;
}
.big_box>div .p3{
	width: 1.66rem;
	color: black;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.big_box>div:nth-child(2){
	background: #F5F6FA;
}
.big_box>div:nth-child(4){
	background: #F5F6FA;
}
.more{
	width: 1.28rem;
	height: 0.34rem;
	margin: 0.2rem auto;
}
.more a{
	width: 100%;
	height: 100%;
	background-image: url('../img/btn.png');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 0.14rem;
	color: white;
	line-height: 0.34rem;
}

/* 课程 */
.kecheng_title{
	width: 100%;
	height: 0.43rem;
	padding: 0.085rem 0rem;
	background: white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	left: 0;
	/* box-sizing: border-box; */
}
.kecheng_title> div:nth-child(1){
	width:0.28rem;
	height: 0.25rem;
	background: url('../img/phptitle5.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.19rem;
	left:0.9rem ;
}
.kecheng_title> div:nth-child(2){
	width: 0.46rem;
	height: 0.35rem;
	background: url('../img/titleL.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.12rem;
	left:1.05rem ;
}
.kecheng_title> div:nth-child(3){
	width: 1.4rem;
	height: auto;
	font-size:0.14rem; 
	color: black;
	font-weight: 600;
	position: absolute;
	top: 0.2rem;
	left: 1.35rem;
}
.kecheng_title> div:nth-child(3) span{
	font-weight: 400;
	font-size: 0.14rem;
}
.kecheng_title> div:nth-child(4){
	width: 0.46rem;
	height: 0.0255rem;
	position: absolute;
	top: 0.42rem;
	left: 2rem;
	background: url('../img/titleR.png') center center no-repeat;
	background-size: 100%; 
}
.kc_tu{
	width: 100%;
	height: 4.5rem;
	background: #1B1D32;
	padding: 0.2rem 0.1rem 0;
	box-sizing: border-box; */
}
.kc_tu ul{
	width: 100%;
	height: auto;
}
.kc_tu ul li:nth-child(1){
	width: 95%;
	height: 0.65rem;
	margin: 0 auto;
}
.kc_tu ul li:nth-child(1) .left{
	width: 0.23rem;
	height: 0.65rem;
	float: left;
}
.kc_tu ul li:nth-child(1) .left .shu{
	width: 0.23rem;
	height: 0.23rem;
	border: 2px solid #ffd300;
    text-align: center;
    line-height: 0.2rem;
    font-size: 0.14rem;
    color: #fff;
}
.kc_tu ul li:nth-child(1) .left .xian{
	width: 0.01rem;
	height: 0.42rem;
	background: #ffd300;
    margin: 0 0.11rem;
}
.kc_tu ul li:nth-child(1) .right{
	width: 2.55rem;
	height: 0.65rem;
	float: left;
	margin-left: 0.07rem;
	padding-left: 0.02rem;
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(1) .right span{
	font-size: 0.14rem;
	color: #ffd300;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(1) .right p{
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 0.1rem;
	color: #fff;
	border-top: 0.01rem dashed #ffd300;
	margin-top: 0.03rem;
	line-height: 0.2rem
}


.kc_tu ul li:nth-child(2){
	width: 95%;
	height: 0.76rem;
	margin: 0 auto;
}
.kc_tu ul li:nth-child(2) .left{
	width: 0.23rem;
	height: 0.76rem;
	float: left;
}
.kc_tu ul li:nth-child(2) .left .shu{
	width: 0.23rem;
	height: 0.23rem;
	border: 2px solid #dd534e;
    text-align: center;
    line-height: 0.2rem;
    font-size: 0.14rem;
    color: #fff;
}
.kc_tu ul li:nth-child(2) .left .xian{
	width: 0.01rem;
	height: 0.5rem;
	background: #dd534e;
    margin: 0 0.11rem;
}
.kc_tu ul li:nth-child(2) .right{
	width: 2.55rem;
	height: 0.76rem;
	float: left;
	margin-left: 0.07rem;
	padding-left: 0.02rem;
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(2) .right span{
	font-size: 0.14rem;
	color: #dd534e;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(2) .right p{
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 0.1rem;
	color: #fff;
	border-top: 0.01rem dashed #dd534e;
	margin-top: 0.03rem;
	line-height: 0.18rem
}


.kc_tu ul li:nth-child(3){
	width: 95%;
	height: 0.76rem;
	margin: 0 auto;
}
.kc_tu ul li:nth-child(3) .left{
	width: 0.23rem;
	height: 0.76rem;
	float: left;
}
.kc_tu ul li:nth-child(3) .left .shu{
	width: 0.23rem;
	height: 0.23rem;
	border: 2px solid #87bf7f;
    text-align: center;
    line-height: 0.2rem;
    font-size: 0.14rem;
    color: #fff;
}
.kc_tu ul li:nth-child(3) .left .xian{
	width: 0.01rem;
	height: 0.5rem;
	background: #87bf7f;
    margin: 0 0.11rem;
}
.kc_tu ul li:nth-child(3) .right{
	width: 2.55rem;
	height: 0.76rem;
	float: left;
	margin-left: 0.07rem;
	padding-left: 0.02rem;
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(3) .right span{
	font-size: 0.14rem;
	color: #87bf7f;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(3) .right p{
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 0.1rem;
	color: #fff;
	border-top: 0.01rem dashed #87bf7f;
	margin-top: 0.03rem;
	line-height: 0.18rem
}



.kc_tu ul li:nth-child(4){
	width: 95%;
	height: 0.65rem;
	margin: 0 auto;
}
.kc_tu ul li:nth-child(4) .left{
	width: 0.23rem;
	height: 0.65rem;
	float: left;
}
.kc_tu ul li:nth-child(4) .left .shu{
	width: 0.23rem;
	height: 0.23rem;
	border: 2px solid #1fa4db;
    text-align: center;
    line-height: 0.2rem;
    font-size: 0.14rem;
    color: #fff;
}
.kc_tu ul li:nth-child(4) .left .xian{
	width: 0.01rem;
	height: 0.38rem;
	background: #1fa4db;
    margin: 0 0.11rem;
}
.kc_tu ul li:nth-child(4) .right{
	width: 2.55rem;
	height: 0.65rem;
	float: left;
	margin-left: 0.07rem;
	padding-left: 0.02rem;
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(4) .right span{
	font-size: 0.14rem;
	color: #1fa4db;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(4) .right p{
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 0.1rem;
	color: #fff;
	border-top: 0.01rem dashed #1fa4db;
	margin-top: 0.04rem;
	line-height: 0.18rem
}


.kc_tu ul li:nth-child(5){
	width: 95%;
	height: 0.52rem;
	margin: 0 auto;
}
.kc_tu ul li:nth-child(5) .left{
	width: 0.23rem;
	height: 0.52rem;
	float: left;
}
.kc_tu ul li:nth-child(5) .left .shu{
	width: 0.23rem;
	height: 0.23rem;
	border: 2px solid #f6ce64;
    text-align: center;
    line-height: 0.2rem;
    font-size: 0.14rem;
    color: #fff;
}
.kc_tu ul li:nth-child(5) .left .xian{
	width: 0.01rem;
	height: 0.26rem;
	background: #f6ce64;
    margin: 0 0.11rem;
}
.kc_tu ul li:nth-child(5) .right{
	width: 2.55rem;
	height: 0.52rem;
	float: left;
	margin-left: 0.07rem;
	padding-left: 0.02rem;
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(5) .right span{
	font-size: 0.14rem;
	color: #f6ce64;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(5) .right p{
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 0.1rem;
	color: #fff;
	border-top: 0.01rem dashed #f6ce64;
	margin-top: 0.06rem;
	line-height: 0.18rem
}


.kc_tu ul li:nth-child(6){
	width: 95%;
	height: 0.6rem;
	margin: 0 auto;
}
.kc_tu ul li:nth-child(6) .left{
	width: 0.23rem;
	height: 0.6rem;
	float: left;
}
.kc_tu ul li:nth-child(6) .left .shu{
	width: 0.23rem;
	height: 0.23rem;
	border: 2px solid #a86baa;
    text-align: center;
    line-height: 0.2rem;
    font-size: 0.14rem;
    color: #fff;
}
.kc_tu ul li:nth-child(6) .left .xian{
	width: 0.01rem;
	height: 0.4rem;
	background: #a86baa;
    margin: 0 0.11rem;
}
.kc_tu ul li:nth-child(6) .right{
	width: 2.55rem;
	height: 0.6rem;
	float: left;
	margin-left: 0.07rem;
	padding-left: 0.02rem;
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(6) .right span{
	font-size: 0.14rem;
	color: #a86baa;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.kc_tu ul li:nth-child(6) .right p{
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 0.1rem;
	color: #fff;
	border-top: 0.01rem dashed #a86baa;
	margin-top: 0.05rem;
	line-height: 0.16rem
}
/* 就业开始 */
.jiuye_title{
	width: 100%;
	height: 0.43rem;
	padding: 0.085rem 0rem;
	background: white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	left: 0;
	/* box-sizing: border-box; */
}
.jiuye_title> div:nth-child(1){
	width:0.28rem;
	height: 0.25rem;
	background: url('../img/phptitle6.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.19rem;
	left:0.9rem ;
}
.jiuye_title> div:nth-child(2){
	width: 0.46rem;
	height: 0.35rem;
	background: url('../img/titleL.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.12rem;
	left:1.05rem ;
}
.jiuye_title> div:nth-child(3){
	width: 1.4rem;
	height: auto;
	font-size:0.14rem; 
	color: black;
	font-weight: 600;
	position: absolute;
	top: 0.2rem;
	left: 1.35rem;
}
.jiuye_title> div:nth-child(3) span{
	font-weight: 400;
	font-size: 0.14rem;
}
.jiuye_title> div:nth-child(4){
	width: 0.46rem;
	height: 0.0255rem;
	position: absolute;
	top: 0.42rem;
	left: 2rem;
	background: url('../img/titleR.png') center center no-repeat;
	background-size: 100%; 
}
.jiuyetu{
	width: 100%;
	height:2.4rem ;
	background: #F5F6FA;
	position:relative; 
	top: 0;
	left: 0;
}


.jiuyetu div:nth-child(1){
	width: 1.26rem;
	height: 0.43rem;
	background: url('../img/phpzw1.png') center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0.45rem;
	left: 0.25rem;
}
.jiuyetu div:nth-child(1) span{
	font-size: 0.12rem;
	color: #333;
	position: absolute;
	top: 0.15rem;
	left: 0.45rem;	
}

.jiuyetu div:nth-child(2){
	width: 1.36rem;
	height: 0.43rem;
	background: url('../img/phpzw2.png') center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0.45rem;
	left: 1.5rem;
}
.jiuyetu div:nth-child(2) span{
	font-size: 0.12rem;
	color: #333;
	position: absolute;
	top: 0.15rem;
	left: 0.45rem;	
}


.jiuyetu div:nth-child(3){
	width: 1.36rem;
	height: 0.43rem;
	background: url('../img/phpzw3.png') center center no-repeat;
	background-size: 100%;
	position: absolute;
	top:0.98rem;
	left: 0.88rem;
}
.jiuyetu div:nth-child(3) span{
	font-size: 0.12rem;
	color: #333;
	position: absolute;
	top: 0.15rem;
	left: 0.45rem;	
}

.jiuyetu div:nth-child(4){
	width: 1.34rem;
	height: 0.43rem;
	background: url('../img/phpzw4.png') center center no-repeat;
	background-size: 100%;
	position: absolute;
	top:1.5rem;
	left:0.18rem;
}
.jiuyetu div:nth-child(4) span{
	font-size: 0.12rem;
	color: #333;
	position: absolute;
	top: 0.15rem;
	left: 0.4rem;	
}

.jiuyetu div:nth-child(5){
	width: 1.34rem;
	height: 0.43rem;
	background: url('../img/phpzw5.png') center center no-repeat;
	background-size: 100%;
	position: absolute;
	top:1.5rem;
	left:1.5rem;
}
.jiuyetu div:nth-child(5) span{
	font-size: 0.12rem;
	color: #333;
	position: absolute;
	top: 0.15rem;
	left: 0.45rem;	
}

/* 顾虑开始 */
.gulv_title{
	width: 100%;
	height: 0.43rem;
	padding: 0.085rem 0rem;
	background: white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	left: 0;
	/* box-sizing: border-box; */
}

.gulv_title> div:nth-child(1){
	width:0.28rem;
	height: 0.25rem;
	background: url('../img/phptitle7.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.19rem;
	left:0.9rem ;
}
.gulv_title> div:nth-child(2){
	width: 0.46rem;
	height: 0.35rem;
	background: url('../img/titleL.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.12rem;
	left:1.05rem ;
}
.gulv_title> div:nth-child(3){
	width: 1.4rem;
	height: auto;
	font-size:0.14rem; 
	color: black;
	font-weight: 600;
	position: absolute;
	top: 0.2rem;
	left: 1.35rem;
}
.gulv_title> div:nth-child(3) span{
	font-weight: 400;
	font-size: 0.14rem;
}
.gulv_title> div:nth-child(4){
	width: 0.46rem;
	height: 0.0255rem;
	position: absolute;
	top: 0.42rem;
	left: 2rem;
	background: url('../img/titleR.png') center center no-repeat;
	background-size: 100%; 
}

.gulvtu{
	width: 100%;
	height: 2.28rem;
	background: #1B1D32;
	position: relative;
	top: 0;
	left: 0;
}
.gulvtu >div:nth-child(1){
	width:0.8rem ;
	height: 1.38rem;
	background: url('../img/phpren.png') center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0.36rem;
	left: 0.28rem;	
}
.gulvtu >div:nth-child(2){
	width:2rem ;
	height: 1.3rem;
	border: 1px solid #FFD300;
	border-left: 0;
	position: absolute;
	top: 0.4rem;
	left: 0.95rem;	
}
.gulvtu >div:nth-child(2) ul{
	width: 92%;
	height: 100%;
	margin: 0 auto;
}
.gulvtu >div:nth-child(2) ul li{
	width: 95%;
	height: 18%;
	border-bottom: 1px dashed #FFD300;
	text-align: center;
	color: white;
	font-size: 0.12rem;
	box-sizing: border-box;
	margin-top: 0.03rem;
}
.gulvtu >div:nth-child(2) ul li:nth-child(5){
	border-bottom: 0;
}
/* 试听 */
.shiting_title{
	width: 100%;
	height: 0.43rem;
	padding: 0.085rem 0rem;
	background: white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	left: 0;
	/* box-sizing: border-box; */
}
.shiting_title> div:nth-child(1){
	width:0.28rem;
	height: 0.25rem;
	background: url('../img/phptitle8.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.19rem;
	left:0.9rem ;
}
.shiting_title> div:nth-child(2){
	width: 0.46rem;
	height: 0.35rem;
	background: url('../img/titleL.png') center center no-repeat;
	background-size: 100%;
	position:absolute ;
	top: 0.12rem;
	left:1.05rem ;
}
.shiting_title> div:nth-child(3){
	width: 1.4rem;
	height: auto;
	font-size:0.14rem; 
	color: black;
	font-weight: 600;
	position: absolute;
	top: 0.2rem;
	left: 1.35rem;
}
.shiting_title> div:nth-child(3) span{
	font-weight: 400;
	font-size: 0.14rem;
}
.shiting_title> div:nth-child(4){
	width: 0.46rem;
	height: 0.0255rem;
	position: absolute;
	top: 0.42rem;
	left: 2rem;
	background: url('../img/titleR.png') center center no-repeat;
	background-size: 100%; 
}
.pho_title{
	width: 95%;
	height: 0.36rem;
	margin: 0rem auto ;
}
.pho_title p{
	font-size: 0.12rem;
	text-align: center;
	line-height: 0.36rem;
	color: black;
	/* margin-bottom: 0.05rem; */
}
.table{
	width: 2.6rem;
	height: 2.2rem;
	margin: 0 auto;
	margin-bottom: 0.08rem;
}
.table>div{
	width: 100%;
	height: 0.42rem;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.table>div span{
	width: 0.15rem;
	height: 100%;
	color: red;
	font-size: 0.1rem;
	line-height: 0.42rem;
	padding-left: 0.06rem;
	float: left;
	box-sizing: border-box;
}
.table>div p{
	width: 0.3rem;
	height: 100%;
	font-size: 0.14rem;
	color:black;
	line-height: 0.42rem;
	float: left;
	box-sizing: border-box;
}
.table>div input{
	width: 1.7rem;
	height: 0.42rem;
	font-size: 0.12rem;
	color:black;
	line-height: 0.42rem;
	padding-left: 0.02rem;
	margin-top:0.018rem; 
	margin-left: 0.08rem;
	border: 0;
	outline: none;
	background: url('../img/input.png') center center no-repeat;
	background-size: 100%;
}
.table>div:nth-child(4) p{
	width: 0.46rem;
	height: 100%;
	font-size: 0.14rem;
	color:black;
	line-height: 0.42rem;
	float: left;
	padding-left: 0.04rem;
	box-sizing: border-box;
	text-align: center;
}
.table>div:nth-child(4) select{
	width: 1.7rem;
	height: 0.42rem;
	font-size: 0.12rem;
	color:black;
	line-height: 0.42rem;
	padding-left: 0.02rem;
	margin-top:0.018rem; 
	margin-left: 0.08rem;
	border: 0;
	outline: none;
	background: url('../img/input.png') center center no-repeat;
	background-size: 100%;
}



.table .submit{
	width: 1.28rem;
	height: 0.34rem;
	margin: 0.2rem auto;
}
.table .submit a{
	width: 100%;
	height: 100%;
	background-image: url('../img/btn.png');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 0.14rem;
	color: white;
	line-height: 0.34rem;
}
.tea{
	width: 100%;
	height: 0.3rem;
	margin-bottom: 0.5rem
}
.tea p{
	width: 100%;
	height: 0.12rem;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.12rem;
	color: #333;
	margin-bottom: 0.04rem;
}
/* 底部开始 */
/* 底部开始 */
.foot{
	width: 100%;
	height: 0.384rem;
	background: #e7e7e7;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99
}
.foot >div:nth-child(1){
	width: 30%;
	height: 100%;
	float: left;

}
.foot >div:nth-child(1) div:nth-child(1){
	width: 0.14rem;
	height: 0.14rem;
	float: left;
	margin: 0.12rem 0.11rem;
	background-image: url('../img/qq.png');
	background-size: 0.14rem;
	background-position: 0 0;
}
.foot >div:nth-child(1) div:nth-child(2){
	width: 0.5rem;
	height: 0.384rem;
	font-size: 0.12rem;
	color: black;
	float: left;
	line-height: 0.384rem;
	margin-left: -0.04rem;
}
.foot>div:nth-child(2){
	width: 40%;
	height: 100%;
	background: #ff8d12;
	margin-top: -0.04rem;
	float: left;
	border-radius: 0.04rem;
	margin-left: -0.05rem;
	box-shadow:0 0  0.02rem #ff8d23 ;
}
.foot>div:nth-child(2) div:nth-child(1){
	width:0.15rem ;
	height: 0.19rem;
	float: left;
	margin:0.115rem 0.15rem 0.115rem 0.25rem;
	background-image: url('../img//shouye6.png') ;
	background-size: 1rem;
	background-position: -0.8rem -2.4rem;
}
.foot>div:nth-child(2) div:nth-child(2){
	width:0.5rem;
	font-size:0.12rem;
	color: white;
	float: left;
	margin-left: -0.1rem;
	line-height: 0.384rem;

}

.foot >div:nth-child(3){
	width: 30%;
	height: 100%;
	float: right;
}
.foot >div:nth-child(3) >div:nth-child(1){
	width: 0.2rem;
	height: 0.15rem;
	margin: 0.115rem 0.1rem 0.115rem 0.15rem;
	background-image: url('../img/shouye6.png');
	background-size: 1rem;
	background-position:-0.8rem -2.65rem ;
	float: left;
}

.foot >div:nth-child(3) >div:nth-child(2){
	width:0.5rem ;
	height: 100%;
	font-size:0.12rem;
	color: black;
	line-height: 0.384rem; 
	float: left;
	margin-left: -0.04rem;
}
/* 底部结束 */
