/*
* @Author: lenovo
* @Date:   2017-04-08 16:49:42
* @Last Modified by:   lenovo
* @Last Modified time: 2017-04-08 21:48:42
*/
*{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.12rem
}
.header{
	width:100%;
	height:0.38rem;
	background: #007BE3;
	position: fixed;
    z-index: 1000;
}
.header ul{
	width: 100%;
	height: 100%;
	display: flex;
}
.header ul li{
	width: 20%;
	height: 100%;
	text-align: center;
}
.header ul li a{
	text-decoration: none;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.38rem;
	color: white;
}
/* banner */
.banner{
	width: 100%;
	height: 1.8rem;
	background: url('../img/banner.jpg') center center no-repeat;
	background-size: 100%;	
}
.bigbox{
	width: 100%;
	height: 8.5rem;
	background: #F5F6FA;
}
.box{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
.box .top{
	width: 100%;
	height:0.14rem ;
	padding-top: 0.02rem;
	margin-bottom: 0.1rem;
}
.box .top h2{
	font-size: 0.12rem;
	color: black;
	float: left;
	line-height: 0.14rem;
	font-weight: normal;
}
.box .top div{
	width: 0.068rem;
	height: 0.08rem;
	background: url('../img/箭头.png') center center no-repeat;
	background-size: 100%;
	float: left;
	margin: 0.03rem 0.07rem;
}
.box .center{
	width: 100%;
	height: 7.2rem;
	background:#fff;
	padding-top: 0.02rem;
	box-sizing: border-box;
} 
.box .center .tab{
	width: 2.64rem;
	height: 0.32rem;
	border: 1px solid #01b5ff;
	border-radius: 0.03rem;
	margin: 0 auto;
}
.box .center .tab >ul{
	width: 100%;
	height: 100%;
	display: flex;

}
.box .center .tab >ul >li{
	width: 33.3%;
	height: 100%;
	border-radius: 0.03rem;
	font-size: 0.12rem;
	color: black;
	background: #fff;
	text-align: center;
	line-height: 0.32rem;
}
.box .center .tab >ul >li:nth-child(1){
	background: #01B5FF;
	color: white;
	position: relative;
	top: 0;
	left: 0;
}
.box .center .tab >ul >li:nth-child(1)>div{
	width: 0;
	height: 0;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-top:8px solid #01B5FF;
	position: absolute;
	top: 0.3rem;
	left: 0.32rem;
}
.box .center .tu{
	width: 2.64rem;
	height: 6.1rem;
	padding: 0.08rem;
	margin: 0 auto;
	
}
.box .center .tu>ul{
	width: 100%;
	height: 100%;
}
.box .center .tu>ul li{
	width: 100%;
	height: 1.22rem;
	border: 1px solid rgba(0,0,0,0);
	border-bottom: 0.01rem solid #B8B8B8;

	box-sizing: border-box;
}


.box .center .tu>ul li:nth-child(1) .left{
	width: 0.98rem;
	height: 0.98rem;
	border-radius: 0.04rem;
	background: url('../img/1.png') center center no-repeat;
	background-size: 100%;
	margin-top:0.12rem;
	margin-left: 0.12rem; 
	float: left;
}
.box .center .tu>ul li:nth-child(1) .right{
	width: 1.3rem;
	height: 0.76rem;
	float: left;
	margin-left: 0.09rem;
	margin-top: 0.22rem;
	padding-left: 0.03rem;
}
.box .center .tu>ul li:nth-child(1) .right>div{
	width: 100%;
	height: 0.24rem;

	border-bottom: 1px dashed #B5B5B5;
	font-size: 0.12rem;
	color: black;
	font-weight: 400;
	margin-bottom: 0.04rem;
}
.box .center .tu>ul li:nth-child(1) .right>h2{
	width: 100%;
	height: 0.2rem;
	font-size: 0.1rem;
	line-height: 0.2rem;
	color: #87BBFF;
	font-weight: 400;
}
.box .center .tu>ul li:nth-child(1) .right>p{
	width: 100%;
	height: 0.2rem;
	font-size: 0.1rem;
	color: #B2DC96;
	/* line-height: 0.2rem; */
}




.box .center .tu>ul li:nth-child(2) .left{
	width: 0.98rem;
	height: 0.98rem;
	border-radius: 0.04rem;
	background: url('../img/2.png') center center no-repeat;
	background-size: 100%;
	margin-top:0.12rem;
	margin-left: 0.12rem; 
	float: left;
}
.box .center .tu>ul li:nth-child(2) .right{
	width: 1.3rem;
	height: 0.76rem;
	float: left;
	margin-left: 0.09rem;
	margin-top: 0.22rem;
	padding-left: 0.03rem;
}
.box .center .tu>ul li:nth-child(2) .right>div{
	width: 100%;
	height: 0.24rem;

	border-bottom: 1px dashed #B5B5B5;
	font-size: 0.12rem;
	color: black;
	font-weight: 400;
	margin-bottom: 0.04rem;
}
.box .center .tu>ul li:nth-child(2) .right>h2{
	width: 100%;
	height: 0.2rem;
	font-size: 0.1rem;
	line-height: 0.2rem;
	color: #87BBFF;
	font-weight: 400;
}
.box .center .tu>ul li:nth-child(2) .right>p{
	width: 100%;
	height: 0.2rem;
	font-size: 0.1rem;
	color: #B2DC96;
	/* line-height: 0.2rem; */
}
.box .center .tu>ul li:nth-child(2) .right a{
	width: 100%;
	height: 0.2rem;
	text-decoration: none;
	font-size:0.1rem;
	font-weight: 400;
	color: #FF9D6F; 
	line-height: 0.14rem;
}



.box .center .tu>ul li:nth-child(3) .left{
	width: 0.98rem;
	height: 0.98rem;
	border-radius: 0.04rem;
	background: url('../img/3.png') center center no-repeat;
	background-size: 100%;
	margin-top:0.12rem;
	margin-left: 0.12rem; 
	float: left;
}
.box .center .tu>ul li:nth-child(3) .right{
	width: 1.3rem;
	height: 0.76rem;
	float: left;
	margin-left: 0.09rem;
	margin-top: 0.22rem;
	padding-left: 0.03rem;
}
.box .center .tu>ul li:nth-child(3) .right>div{
	width: 100%;
	height: 0.24rem;

	border-bottom: 1px dashed #B5B5B5;
	font-size: 0.12rem;
	color: black;
	font-weight: 400;
	margin-bottom: 0.04rem;
}
.box .center .tu>ul li:nth-child(3) .right>h2{
	width: 100%;
	height: 0.2rem;
	font-size: 0.1rem;
	line-height: 0.2rem;
	color: #87BBFF;
	font-weight: 400;
}
.box .center .tu>ul li:nth-child(3) .right>p{
	width: 100%;
	height: 0.2rem;
	font-size: 0.1rem;
	color: #B2DC96;
	/* line-height: 0.2rem; */
}
.box .center .tu>ul li:nth-child(3) .right a{
	width: 100%;
	height: 0.2rem;
	text-decoration: none;
	font-size:0.1rem;
	font-weight: 400;
	color: #FF9D6F; 
	line-height: 0.14rem;
}

.box .center .tu>ul li:nth-child(4) .left{
	width: 0.98rem;
	height: 0.98rem;
	border-radius: 0.04rem;
	background: url('../img/4.png') center center no-repeat;
	background-size: 100%;
	margin-top:0.12rem;
	margin-left: 0.12rem; 
	float: left;
}
.box .center .tu>ul li:nth-child(4) .right{
	width: 1.3rem;
	height: 0.76rem;
	float: left;
	margin-left: 0.09rem;
	margin-top: 0.22rem;
	padding-left: 0.03rem;
}
.box .center .tu>ul li:nth-child(4) .right>div{
	width: 100%;
	height: 0.24rem;

	border-bottom: 1px dashed #B5B5B5;
	font-size: 0.12rem;
	color: black;
	font-weight: 400;
	margin-bottom: 0.04rem;
}
.box .center .tu>ul li:nth-child(4) .right>h2{
	width: 100%;
	height: 0.2rem;
	font-size: 0.1rem;
	line-height: 0.2rem;
	color: #87BBFF;
	font-weight: 400;
}
.box .center .tu>ul li:nth-child(4) .right>p{
	width: 100%;
	height: 0.2rem;
	font-size: 0.1rem;
	color:#B2DC96;
	/* line-height: 0.2rem; */
}
.box .center .tu>ul li:nth-child(4) .right a{
	width: 100%;
	height: 0.2rem;
	text-decoration: none;
	font-size:0.1rem;
	font-weight: 400;
	color: #FF9D6F; 
	line-height: 0.14rem;
}


.box .center .tu>ul li:nth-child(5) .left{
	width: 0.98rem;
	height: 0.98rem;
	border-radius: 0.04rem;
	background: url('../img/5.png') center center no-repeat;
	background-size: 100%;
	margin-top:0.12rem;
	margin-left: 0.12rem; 
	float: left;
}
.box .center .tu>ul li:nth-child(5) .right{
	width: 1.3rem;
	height: 0.76rem;
	float: left;
	margin-left: 0.09rem;
	margin-top: 0.22rem;
	padding-left: 0.03rem;
}
.box .center .tu>ul li:nth-child(5) .right>div{
	width: 100%;
	height: 0.24rem;

	border-bottom: 1px dashed #B5B5B5;
	font-size: 0.12rem;
	color: black;
	font-weight: 400;
	margin-bottom: 0.04rem;
}
.box .center .tu>ul li:nth-child(5) .right>h2{
	width: 100%;
	height: 0.2rem;
	font-size: 0.1rem;
	line-height: 0.2rem;
	color: #87BBFF;
	font-weight: 400;
}
.box .center .tu>ul li:nth-child(5) .right>p{
	width: 100%;
	height: 0.2rem;
	font-size: 0.1rem;
	color:#B2DC96;
	/* line-height: 0.2rem; */
}
.box .center .tu>ul li:nth-child(5) .right a{
	width: 100%;
	height: 0.2rem;
	text-decoration: none;
	font-size:0.1rem;
	font-weight: 400;
	color: #FF9D6F; 
	line-height: 0.14rem;
}
.box .center .more{
	width: 100%;
	height: 0.36rem;
	/* margin-top: 0.2rem; */
	position: relative;
	top: 0;
	left: 0;
}
.box .center .more>div{
	width: 100%;
	height: 0.36rem;
	position: absolute;
	top: 0.1rem;
}
.box .center .more>div:nth-child(1){
	width: 0.21rem;
	height: 0.21rem;
	left: 0.2rem;
	background: url('../img/s1.png')center center no-repeat;
	background-size: 100%;
}
.box .center .more>div:nth-child(2){
	width: 0.63rem;
	height: 0.21rem;
	left: 0.46rem;
	background: url('../img/上一页.png')center center no-repeat;
	background-size: 100%;
}
.box .center .more>div:nth-child(3){
	width: 0.6rem;
	height: 0.21rem;
	border: 1px solid black;
	border-radius: 0.2rem;
	left: 1.15rem;
	box-sizing: border-box;
	font-size: 0.1rem;
	color: black;
	text-align: center;
	line-height: 0.21rem;
	font-weight: 400;
}
.box .center .more>div:nth-child(4){
	width: 0.63rem;
	height: 0.21rem;
	right: 0.46rem;
	background: url('../img/下一页.png')center center no-repeat;
	background-size: 100%;
}
.box .center .more>div:nth-child(5){
	width: 0.21rem;
	height: 0.21rem;
	right: 0.2rem;
	background: url('../img/s2.png')center center no-repeat;
	background-size: 100%;
}

.bigbox .tea{
	width: 100%;
	height: 0.3rem;
	margin-bottom: 0.5rem;
	margin-top: 0.08rem;
}
.bigbox .tea p{
	width: 100%;
	height: 0.12rem;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.12rem;
	color: #333;
	margin-bottom: 0.04rem;
}
/* 底部开始 */
.foot{
	width: 100%;
	height: 0.384rem;
	background: #e7e7e7;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99
}
.foot >div:nth-child(1){
	width: 30%;
	height: 100%;
	float: left;

}
.foot >div:nth-child(1) div:nth-child(1){
	width: 0.14rem;
	height: 0.14rem;
	float: left;
	margin: 0.12rem 0.11rem;
	background-image: url('../img/qq.png');
	background-size: 0.14rem;
	background-position: 0 0;
}
.foot >div:nth-child(1) div:nth-child(2){
	width: 0.5rem;
	height: 0.384rem;
	font-size: 0.12rem;
	color: black;
	float: left;
	line-height: 0.384rem;
	margin-left: -0.04rem;
}
.foot>div:nth-child(2){
	width: 40%;
	height: 100%;
	background: #ff8d12;
	margin-top: -0.04rem;
	float: left;
	border-radius: 0.04rem;
	margin-left: -0.05rem;
	box-shadow:0 0  0.02rem #ff8d23 ;
}
.foot>div:nth-child(2) div:nth-child(1){
	width:0.15rem ;
	height: 0.19rem;
	float: left;
	margin:0.115rem 0.15rem 0.115rem 0.25rem;
	background-image: url('../img//shouye6.png') ;
	background-size: 1rem;
	background-position: -0.8rem -2.4rem;
}
.foot>div:nth-child(2) div:nth-child(2){
	width:0.5rem;
	font-size:0.12rem;
	color: white;
	float: left;
	margin-left: -0.1rem;
	line-height: 0.384rem;

}

.foot >div:nth-child(3){
	width: 30%;
	height: 100%;
	float: right;
}
.foot >div:nth-child(3) >div:nth-child(1){
	width: 0.2rem;
	height: 0.15rem;
	margin: 0.115rem 0.1rem 0.115rem 0.15rem;
	background-image: url('../img/shouye6.png');
	background-size: 1rem;
	background-position:-0.8rem -2.65rem ;
	float: left;
}

.foot >div:nth-child(3) >div:nth-child(2){
	width:0.5rem ;
	height: 100%;
	font-size:0.12rem;
	color: black;
	line-height: 0.384rem; 
	float: left;
	margin-left: -0.04rem;
}
/* 底部结束 */
